<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to homepage!</title>
</head>
<body>
    <h1> Rent a thing API </h1>
    <p> API created as a simulation of some traffic in my mobile app. </p>
    <br>
    <h1> Docs </h1>
    <h2> List of examples you can use </h2>
    <p> GET <a href="/users" style="margin-right: 5px; margin-left: 5px;"> /users </a> - Get list of all registered users </p>
    <p> GET <a href="/offers" style="margin-right: 5px; margin-left: 5px;"> /offers </a> - Get list of all created offers </p>
    <p> GET <a href="/users/1" style="margin-right: 5px; margin-left: 5px;"> /users/1 </a> - Get a single user with id 1 </p>
    <p> GET <a href="/offers/7" style="margin-right: 5px; margin-left: 5px;"> /offers/7 </a>- Get a single offer with id 7 </p>
    <p> GET <a href="/offers?userId=3" style="margin-right: 5px; margin-left: 5px;"> /offers?userId=3 </a>- Filter offers by user id 3</p>
</body>
</html>